/* INTRO BLURB CONFIGURATION */
.intro {
	overflow: hidden;
}
.intro p {
	text-align: justify;
}
.clear_intro {
	display: block;
    margin: 0 auto;    
	width: 450px;
	height: 90px;
	line-height: 30px;	
	background-color: #4CAF50;
	font-weight: bold;
	text-align: center;
	height: 30px;
	font-size: large;
	font-weight: bold;
    text-align: center;
}
.clear_intro:hover {
	cursor: pointer;
	color: black;
}

/* MAIN GUI POSITION */
.gui-holder {
	position: relative;
	margin-left: auto;
	margin-right: auto;
    width: 450px;
    max-width: 450px;
	min-height: 600px;
	max-height: 800px;	
}

/* BASE MAP POSIITON */
.gui-holder .map-image {
	position: absolute;
	top: 120px;
}

/* TEXT LINE CONFIGURATION */
.text-line {
	position: absolute;
	width: 450px;
	top: 70px;
	color: white;
	text-align: center;
}
.wave-text-line {
	position: absolute;
	top: 150px;
	left: 272px;
	color: red;
	font-weight: bold;
}

/* BUTTON POSITIONS AND CONFIGURATION */
.button {
	position: absolute;
	height: 25px;
	width: 130px;
	border-radius: 8px;
	background-color: white;
	color: black;
	border: 2px solid #e7e7e7;	
}
.button:hover {
	background-color: #e7e7e7;
}
.previous-button {
    top: 10px;
	left: 20px;
}
.current-button {
    top: 10px;
	left: 160px;
}
.next-button {
    top: 10px;
	left: 300px;
}

/* PRAYER POSITIONS */
.prayer-previous {
	position: absolute;
	top: 45px;
	left: 60px;
}
.prayer-current {
	position: absolute;
	top: 45px;
	left: 200px;
}
.prayer-next {
	position: absolute;
	top: 45px;
	left: 340px;
}

/* SPAWN POSITIONS */
.spawn-nw {
	position: absolute;
	top: 185px;
	left: 60px;
}
.spawn-c {
	position: absolute;
	top: 290px;
	left: 170px;
}
.spawn-sw {
	position: absolute;
	top: 410px;
	left: 55px;
}
.spawn-s {
	position: absolute;
	top: 410px;
	left: 180px;
}
.spawn-se {
	position: absolute;
	top: 345px;
	left: 300px;
}

/* SPAWN OFFSET POSITIONS */
.spawn-nw-offset {
	position: absolute;
	top: 205px;
	left: 80px;
}
.spawn-c-offset {
	position: absolute;
	top: 310px;
	left: 190px;
}
.spawn-sw-offset {
	position: absolute;
	top: 430px;
	left: 75px;
}
.spawn-s-offset {
	position: absolute;
	top: 430px;
	left: 200px;
}
.spawn-sw-offset {
	position: absolute;
	top: 365px;
	left: 320px;
}

/* REFRESH PAGE CONFIGURATION */
.refresh-page {
	display: block;
    margin: 0 auto;
    width: 450px;
	height: 60px;
	line-height: 60px;
	text-align: center;
	background-color: #4CAF50;
	font-size: large;
	font-weight: bold;
}
.refresh-page:hover {
	cursor: pointer;
	color: black;
	background-color: #4CAF50;
}