body {
    position: relative;
    margin: 0 auto;
    font-family: 'Helvetica';    
}

/* CONTAINER CONFIGURATION */
.content {
    display: block;
    position: relative;
    margin: 0 auto;
    width: 70%;
    padding: 0px 15px 15px 15px;
    color: black;
    font-size: 100%;
}

/* FOOTER CONFIGURATION */
.footer {
    position: relative;
    width: 70%;
    margin: 0 auto;
    min-height: 20px;
    padding: 15px 15px 15px 15px;
}
.footer p {
    margin: 0;
    padding: 0;
    text-align: right;
    color: black;
    font-size: 75%;
}

/* GENERAL STYLE CONFIGURATIONS */
p {
    padding: 7px 15px 7px 15px;
    margin: 0px;
    text-align: justify;
    text-justify: inter-word;
}
.h1, .h2, .h3, h1, h2, h3 {
    margin: 0px;
    padding: 15px 15px 15px 15px;
}
.h1, h1 {
    font-size: 25px;
    font-weight: bold;
}
.h2, h2 {
    font-size: 20px;
    font-weight: bold;
}
.h3, h3 {
    font-size: 20px;
}

/* HYPERLINK STYLING */
a:link {
    color: #2F4F4F;
    text-decoration: underline;
}
a:visited {
    color: #000000;
    text-decoration: underline;
}
a:hover {
    color: #000000;
    text-decoration: none;
}

/* CODE-BOX CONFIGURATION  */
pre {
    white-space: pre-wrap;
}
code {
    text-align: justify;
    text-justify: inter-word; 
    font-size: 1.2em;
}
.code-box {
    display: block;
    margin: 0 auto;    
    background-color: #AAAAAA;
    width: 95%; 
}
.code-box .highlight {
    background-color: #AAAAAA;
}
.highlighter-rouge {
	font-family: Courier New;
	font-size: 100%;
	color: #333;
}

/* TABLE STYLING */
table.content {
	display: table;
	overflow: auto;
	table-layout: auto;
    border-collapse: collapse;
    width: 95%;
    margin-left:auto; 
    margin-right:auto;
    font-size: 100%;
}
table.content th, table.content td {
    text-align: left;
    padding: 4px;
}
tr:nth-child(even){background-color: #AAAAAA}
tr:nth-child(odd){background-color: #D3D3D3}
th {
    background-color: #2F4F4F;
    color: white;
}

/* BOOTSTRAP OVER-RIDES */
.navbar-brand {
    height: 25px;
}