body {
	position: relative;
	margin: 0 auto;
	font-family: 'Helvetica';    
}

/* CONTAINER CONFIGURATION */
.content {
	display: block;
    position: relative;
	margin: 0 auto;
    width: 70%;
	padding: 15px 15px 15px 15px;
	color: black;
	font-size: 85%;
}
/* a:link { */
    /* color: #4CAF50; */
/* } */
/* a:visited { */
    /* color: white; */
/* } */
/* a:hover { */
    /* color: white; */
/* } */

/* FOOTER CONFIGURATION */
.footer {
	position: relative;
    width: 70%;
	margin: 0 auto;
	min-height: 20px;
	padding: 15px 15px 15px 15px;
}
.footer p {
	margin: 0;
	padding: 0;
    text-align: right;
    color: black;
    font-size: 75%;
}

/* CODE-BOX CONFIGURATION  */
pre {
    white-space: pre-wrap;
}
code {
    text-align: justify;
    text-justify: inter-word; 
    font-size: 1.2em;
}
.code-box {
    background-color: #696969;
	padding: 5px 15px 5px 15px; 
}
h1 {
    padding: 5px 15px 5px 15px;
    text-decoration: underline;
}
p {
    padding: 5px 15px 5px 15px;
    text-align: justify;
    text-justify: inter-word;
}
h2 {
    padding: 5px 15px 5px 15px;
}
h3 {
   padding: 5px 15px 5px 15px; 
}

/* TABLE STYLING */
table {
    border-collapse: collapse;
    width: 80%;
    margin-left:auto; 
    margin-right:auto;    
}

th, td {
    text-align: left;
    padding: 8px;
}

tr:nth-child(even){background-color: #464141}

th {
    background-color: #4CAF50;
    color: white;
}