<div class="container pt-5">
    <div class="row no-gutters">
      
    <div class="col-6">
        <a href="{{ site.url }} "><h3>{{ site.name }}</h3></a>
        <p class="">
            If you enjoyed this post, you may also like my other <a href="{{ site.url }}/blog/">posts</a>, <a href="{{ site.url }}/tools/">tools</a> and <a href="{{ site.url }}/projects/">projects</a>.
          </p>
    </div>  
      
    <div class="col-6 text-right">
        <h3>Share this post</h3>
        {% include post_share_buttons.html %}
        </div>
    
    </div>
    </div>