html {
  position: relative;
  min-height: 100%;
}

html, h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .navbar, .footer {
  font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
}

h1, h2, h3, h4, h5, h6, .h1 {
  font-weight: bold;
}

// NAV BAR
.navbar-toggler-icon {
  color: white;
}
.navbar-brand {
  font-weight: bold;
  color: white;
}
.navbar-brand:hover {
  color: grey;
}
.fa-box {
  padding: 0 .75rem 0 .75rem;
}
.fa.fa-navicon {
  color:white;
}
.nav-item {
  padding-right: .75rem;
  padding-left: .75rem;
  font-weight: bold;
}
.nav-link {
  color: white;
}
.nav-link:hover {
  color: grey;
}

// HOME HEADER
.header{
	position: relative;
	background-size: cover;
	background-position: center;
}
.overlay{
  position: absolute;
	background: rgba(244, 244, 244, 0.67);
}
.header-icon {
  color: grey;
}
.header-icon:hover {
  color: black;
}
.chevron-down{
  position: absolute;
  bottom: 0;
  padding-bottom: 1rem;
  left: 50%;
}

// CONTAINER
.container-fluid {
  width: 100%;
  padding-right: 0;
  padding-left: 0;
}
.jumbotron, .jumbotron-fluid {
  margin-bottom: 4rem;
}

// FOOTER
.footer {
  width: 100%;
  bottom: 0;
  color: white;
  font-size: 0.75rem;
  padding: .5rem 0 .5rem 1rem;
}
.footer a {
  color: white;
}
.footer a:hover {
  color: gray;
  text-decoration: none;
}

// FEATURETTE
.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -.05rem;
}
.featurette-heading a:hover {
  text-decoration: none;
}

// CODE BOXES
pre {
  padding: .75rem;
}
.highlight {
  background-color: #e9ecef;
}

// DIVIDERS
.divider-osrsbox {
  margin-top: 3rem;
  margin-bottom: 3rem;
  border-top: 2px solid rgba(0,0,0,.1);
}
.divider-box {
  border-top: 4px solid #212529;
}

// ICONS
.metadata-icons {
  color: #6c757d;
}

// BLOCKQUOTE
blockquote {
  background: #f9f9f9;
  border-left: 10px solid #ccc;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  quotes: "\201C""\201D""\2018""\2019";
}
blockquote:before {
  color: #ccc;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}
blockquote p {
  display: inline;
}